$baseline: 1.5rem;

$background:#ffffff;
$color:#222;

$heading-color: rgb(51,131,51);

$links: rgb(51,101,51);
$hover-links:rgb(51,131,51);
$visited-links:rgb(41,101,41);

$font-size: 1.125rem;
$font-family: Segoe UI,system-ui,-apple-system,sans-serif;
$line-height: 1.75;
$code_font: 400 1.125rem/1.75 SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;

$quote-bg: #dcdcdc;
$quote-border: #808080 8px solid;

$nav-bg:rgb(33,33,33);
$nav-color:#FFFFFF;
$nav-links:#D1D1D1;
$nav-visited-links:#B1B1B1;
